// 清除样式
* {
  padding: 0;
  margin: 0;
}
input {
  border: 0;
  outline: none;
}
select {
  border: 0;
  outline: none;
}
button {
  outline: none;
  border: 0;
}
li {
  list-style: none;
}

html {
  font-size: 1vw;
  // min-width: 350px;
}
@media all and (max-width: 850px) {
  html {
    font-size: 1.8vw;
  }
}

body {
  background-color: #FFFFFF;
}

//头部
header {
  width: 100%;
  // min-height: 80px;
  height: 9rem;
  min-height: 80px;
  // min-width: 380px;
  // background: linear-gradient(to right, orange, yellow);
  text-align: center;
  background-color: #99CCFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  // align-content: space-between;
  label {
    font-size: 3rem;
  }
  >div {
    height: 2rem;
    min-height: 25px;
    // min-width: 290px;
    width: 50rem;
    margin: 1rem 0;
    // min-width: 480px;
    display: flex;
    align-items: stretch;
    input {
      flex: 8 0 160px;
      // height: 2rem;
      width: 20rem;
      // margin-bottom: 0.4rem;
      margin-right: 1rem;
      padding-left: 0.8rem;
      border-radius: 5px;
      // border: 1px solid #336699;
      &:hover {
        outline: 2px solid #336699;
      } 
    }
    input:focus {
      outline: 2px solid #336699;
    }
    .select {
      flex: 3 0 70px;
      position: relative;
      margin-right: 1rem;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      ul {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        // overflow: hidden;
        .option {
          font-size: 1rem;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-child(1) {
            // top: -100%;
            background-color: #FF6600;
            transition: all .05s;
          }
          &:nth-child(2) {
            // margin-top: -100%;
            z-index: 1;
            background-color: #FF9933;
          }
          &:nth-child(3) {
            // top: 100%;
            background-color:#FFFF33;
            transition: all .05s;
          }
          &:hover {
            background-color: #fff;
          }
        }
        // &:hover {
        //   .option {
        //     &:nth-child(1) {
        //       top: -100%;
        //     }
        //     &:nth-child(3) {
        //       top: 100%;
        //     }
        //   }
        // }
      }
      .hover {
        // &:hover {
          .option {
            &:nth-child(1) {
              top: -100%;
            }
            &:nth-child(3) {
              top: 100%;
            }
          }
        // }
      }
      
    }
    button {
      flex: 1 0 40px;
      // height: 2rem;
      padding: 0.2rem 0.5rem;
      background-color: #fff;
      border-radius: 5px;
      &:hover {
        outline: 2px solid #336699;
        cursor: pointer;
      }
    }
  }
}
// 主体
main {
  width: 90%;
  margin: 0 auto;
  label {
    font-size: 2rem;
  }
  >div {
    width: 100%;
    min-height: 100px;
    >span {
      // float: right;
      line-height: 2rem;
      // vertical-align: right;
    }
    ul {
      transition: all 0.5s;
      background-color: skyblue;
    }
    li {
      position: relative;
      font-size: 2rem;
      background-color: #FFCC99;
      height: 40px;
      // width: 100%;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 40px;
      transition: margin-top 0.5s, opacity 0.5s;
      #tick {
        // display: inline;
        // float: left;
        position: absolute;
        top: 50%;
        left: 0.4rem;
        
        transform-origin: left top;
        transform: scale(0.3) translateY(-50%);
      }
      .btn-delete {
        flex-basis: 20px;
        cursor: pointer;
      }
    }
    .update {
      opacity: 0;
    }
  }
}