// 清除样式
* {
  padding: 0;
  margin: 0;
}
input {
  border: 0;
  outline: none;
}
select {
  border: 0;
  outline: none;
}
button {
  outline: none;
  border: 0;
}
li {
  list-style: none;
}

html {
  font-size: 1vw;
}
@media all and (max-width: 850px) {
  html {
    font-size: 2vw;
  }
}

body {
  background-color: #FFFFFF;
}

//头部
header {
  width: 100%;
  // min-height: 80px;
  height: 9rem;
  // background: linear-gradient(to right, orange, yellow);
  text-align: center;
  background-color: #99CCFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  // align-content: space-between;
  label {
    font-size: 3rem;
  }
  div {
    margin-top: 1rem;
    // min-width: 480px;
    input {
      height: 2rem;
      width: 20rem;
      margin-bottom: 0.4rem;
      margin-right: 1rem;
      padding-left: 0.8rem;
      border-radius: 5px;
      // border: 1px solid #336699;
      &:hover {
        outline: 2px solid #336699;
      } 
    }
    input:focus {
      outline: 2px solid #336699;
    }
    select {
      // padding: 
      margin-right: 1rem;
      padding: 0.2rem 0.5rem;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        outline: 2px solid #336699;
      }
      option {
        &:nth-child(1) {
          background-color: #FF6600;
        }
        &:nth-child(2) {
          background-color: #FF9933;
        }
        &:nth-child(3) {
          background-color:#FFFF33;
        }
        &:hover {
          background-color: #fff;
        }
      } 
    }
    button {
      padding: 0.2rem 0.5rem;
      background-color: #fff;
      border-radius: 5px;
      &:hover {
        outline: 2px solid #336699;
        cursor: pointer;
      }
    }
  }
}
// 主体
main {
  width: 60%;
  margin: 0 auto;
  label {
    font-size: 2rem;
  }
  &>div {
    min-height: 100px;
    li {
      font-size: 1.5rem;
      background-color: #FFCC99;
      min-height: 40px;
      line-height: 40px;
      >input {
        width: 2rem;
        height: 2rem;
        vertical-align: middle;
      }
    }
  }
}